html, button, input, select, textarea,
#editor, .pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'Source Code Pro';
}

td.first-col {
    background-color: #e0e0e0;
}

td.selected {
    background-color: yellow;
}

td.has-error {
    background-color: red;
}

#right-bar {
    background-color: #333333;
    padding: 20px;
    color: white;
    height: 100%;
}

textarea {
    color: black;
    height: 300px;
    width: 100%;
}

#container {
    height: 100%;
}

/* sidebar stuff */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
}

.sidebar-panel {
    background-color: #333333;
    margin-bottom: 1px;
    border-radius: 5px;
    padding: 3px;
}

.sidebar-panel h1, .sidebar-panel pre {
    margin: 0;
}

.sidebar-panel#header-panel {
    background-color: purple;
    color: white;
}

.sidebar-panel#header-panel h1 {
    font-weight: 200;
    margin: 10px;
}

.sidebar-panel#error-panel {
    background-color: red;
    color: white;
}

.sidebar-panel#editor-panel {
    background-color: beige;
}

.sidebar-panel#editor-panel #editor {
    border: 2px solid #cccccc;
    width: 90%;
    margin: 0 auto;
    height: 300px;
    border-radius: 3px;
}


/* sheet stuff */

#jgrid-sheet {
    width: 100%;
}

.pure-table td {
    padding: 0px 0px;
}

.jgrid-cell {
    border: 3px solid white;
    background-color: #eeeeee;
    min-height: 20px;
    padding: 3px;
}

.jgrid-cell.selected {
    border-color: #555555;
}

.jgrid-cell.has-error {
    background-color: red;
}