html, button, input, select, textarea,
#editor, .pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'Source Code Pro';
}

td.selected {
    background-color: yellow;
}

td.has-error {
    background-color: red;
}

#right-bar {
    background-color: #333333;
    padding: 20px;
    color: white;
    height: 100%;
}

textarea {
    color: black;
    height: 300px;
    width: 100%;
}

#container {
    height: 100%;
}


/*** EDIT MODE STUFF ***/

.edit-mode {
    position: relative;
    z-index: 100;
    -webkit-box-shadow: 4px 4px 10px 5px rgba(0,0,0,0.25);
    -moz-box-shadow: 4px 4px 10px 5px rgba(0,0,0,0.25);
    box-shadow: 4px 4px 10px 5px rgba(0,0,0,0.25);
}


/*** SIDEBAR STUFF ***/

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
}

.sidebar-panel {
    background-color: #333333;
    margin-bottom: 1px;
    border-radius: 5px;
    padding: 3px;
}

.sidebar-panel h1, .sidebar-panel pre {
    margin: 0;
}

.sidebar-panel#header-panel {
    background-color: purple;
    color: white;
}

.sidebar-panel#header-panel h1 {
    font-weight: 200;
    margin: 10px;
}

.sidebar-panel#error-panel {
    background-color: red;
    color: white;
}

.sidebar-panel#editor-panel {
    background-color: beige;
}

.sidebar-panel#editor-panel #editor {
    width: 90%;
    margin: 0 auto;
    height: 300px;
    border-radius: 3px;
}


/*** SHEET STUFF ***/

#jgrid-sheet {
    width: 100%;
}

.pure-table td,
.pure-table th {
    padding: 0px 0px;
}

.jgrid-col-header {
    text-align: center;
    margin: 4px;
    padding: 5px;
    border-radius: 3px;
}

.jgrid-col-header.related-col {
    background-color: blue;
    color: white;
}

td.first-cell {
    background-color: #e0e0e0;
}

.jgrid-row-header {
    margin: 4px;
    padding: 5px;
    text-align: right;
    border-radius: 3px;
    font-weight: 600;
}

.jgrid-row-header.related-row {
    background-color: blue;
    color: white;
}

.jgrid-cell {
    margin: 4px;
    background-color: #eeeeee;
    min-height: 20px;
    padding: 3px;
    border-radius: 3px;
}

.jgrid-cell.selected {
    border: 2px solid #555555;
    margin: 2px;
}

.jgrid-cell.has-error {
    background-color: red;
}

.jgrid-cell.related-cell {
    border: 1px solid blue;
    margin: 3px;
}