<!doctype html>
<html>
<head>
    <title>jGrid</title>
    <link rel="stylesheet" href="css/pure-min.css">
    <link rel="stylesheet" href="css/grids-responsive-min.css">
    <link rel="stylesheet" href="../node_modules/angular-hotkeys/build/hotkeys.css">
    <link rel="stylesheet" href="css/source-code-pro/source-code-pro.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="jGrid">
    <div ng-controller="JGridCtrl as vm" ng-keypress="vm.handleKeypress($event)">
        <div class="pure-g" id="container">
            <div class="pure-u-15-24" id="grid">

                <table class="pure-table pure-table-bordered" id="jgrid-sheet">
                    <thead>
                        <tr>
                            <th></th>
                            <th ng-repeat="y in vm.gridY track by $index">
                                {{ $index + 1 | indexToHeader }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="y in vm.gridY track by $index">
                            <td class="first-col">{{ $index + 1 }}</td>
                            <td ng-click="vm.selectGrid($index, $parent.$index)"
                                ng-repeat="x in vm.gridX track by $index">

                                <div class="jgrid-cell"
                                    ng-class="{ 'selected': (vm.y == $parent.$index && vm.x == $index), 'has-error': vm.getError($index, $parent.$index) }">
                                    {{ vm.getValue($index, $parent.$index) }}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="sidebar pure-u-9-24">

                <div class="sidebar-panel" id="header-panel">
                    <h1>jGrid</h1>
                </div>

                <div class="sidebar-panel" id="editor-panel">
                    <div class="sidebar-panel-header">
                    </div>

                    <pre>function(G, R, http) {</pre>
                    <div id="editor" ui-ace="{ mode: 'javascript', theme: 'solarized_light', onLoad: vm.aceLoaded }" ng-model="vm.selectedScript"></div>
                    <pre>}</pre>
                </div>

                <div class="sidebar-panel" id="error-panel" ng-if="vm.getError(vm.x, vm.y)">
                    <pre>{{ vm.getError(vm.x, vm.y).message }}</pre>
                </div>
            </div>
        </div>
    </div>

    <!--<script src="js/lib/fetch/fetch.js"></script>-->
    <!--<script src="js/lib/angular/angular.js"></script>-->
    <script src="../dist/js/ace/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="../dist/js/app.js"></script>
    <!--<script src="js/controllers/jGridCtrl.js"></script>-->

</body>
</html>    